# IDE
.idea/
.vscode/
*.swp
*.swo

# Build & Dependencies
**/node_modules/
**/target/
**/dist/
**/build/
.gradle/
bin/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log
logs/
